USE [master]
GO
/****** Object:  Database [TelecomServiceDesk]    Script Date: 01.03.2026 13:35:29 ******/
CREATE DATABASE [TelecomServiceDesk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelecomServiceDesk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TelecomServiceDesk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TelecomServiceDesk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TelecomServiceDesk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelecomServiceDesk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelecomServiceDesk]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](80) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestPriorities]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestPriorities](
	[PriorityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RequestPriorities] PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[StatusId] [int] NOT NULL,
	[RequestTypeId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[Description] [nvarchar](100) NULL,
	[TotalAmount] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestServices]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestServices](
	[RequestId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_RequestServices] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatuses]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatuses](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RequestStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestTypes]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestTypes](
	[RequestTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RequestTypes] PRIMARY KEY CLUSTERED 
(
	[RequestTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.03.2026 13:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password_Hash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [FirstName], [LastName], [MiddleName], [Phone], [Email]) VALUES (1, N'Иван', N'Иванов', NULL, N'+79001112233', N'ivan.ivanov@mail.ru')
INSERT [dbo].[Clients] ([ClientId], [FirstName], [LastName], [MiddleName], [Phone], [Email]) VALUES (2, N'Мария', N'Петрова', N'Сергеевна', N'+79004445566', N'maria.petrova@mail.ru')
INSERT [dbo].[Clients] ([ClientId], [FirstName], [LastName], [MiddleName], [Phone], [Email]) VALUES (3, N'Дмитрий', N'Сидоров', NULL, N'+79007778899', N'dmitry.sidorov@mail.ru')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MiddleName], [UserId]) VALUES (1, N'Вадим', N'Шумаков', N'Евгеньевич', 1)
INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MiddleName], [UserId]) VALUES (2, N'Наталья', N'Фролова', N'Андреевна', 2)
INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MiddleName], [UserId]) VALUES (3, N'Евгений', N'Шумаков', N'Юрьевич', 3)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestPriorities] ON 

INSERT [dbo].[RequestPriorities] ([PriorityId], [Name]) VALUES (1, N'Низкий')
INSERT [dbo].[RequestPriorities] ([PriorityId], [Name]) VALUES (2, N'Средний')
INSERT [dbo].[RequestPriorities] ([PriorityId], [Name]) VALUES (3, N'Высокий')
SET IDENTITY_INSERT [dbo].[RequestPriorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([RequestId], [StatusId], [RequestTypeId], [PriorityId], [ClientId], [EmployeeId], [CreatedAt], [Description], [TotalAmount]) VALUES (1, 5, 1, 3, 1, NULL, CAST(N'2026-02-21T12:32:00.000' AS DateTime), N'Необходимо подключить интернет', CAST(500.00 AS Numeric(18, 2)))
INSERT [dbo].[Requests] ([RequestId], [StatusId], [RequestTypeId], [PriorityId], [ClientId], [EmployeeId], [CreatedAt], [Description], [TotalAmount]) VALUES (2, 2, 2, 3, 2, 3, CAST(N'2026-02-23T13:30:00.000' AS DateTime), N'Починить кабельное ТВ!!!!!!!!!!!!', CAST(300.00 AS Numeric(18, 2)))
INSERT [dbo].[Requests] ([RequestId], [StatusId], [RequestTypeId], [PriorityId], [ClientId], [EmployeeId], [CreatedAt], [Description], [TotalAmount]) VALUES (3, 5, 3, 1, 3, 2, CAST(N'2026-02-10T14:02:00.000' AS DateTime), N'Запрос на консультацию по интернету', CAST(400.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
INSERT [dbo].[RequestServices] ([RequestId], [ServiceId]) VALUES (1, 1)
INSERT [dbo].[RequestServices] ([RequestId], [ServiceId]) VALUES (2, 2)
INSERT [dbo].[RequestServices] ([RequestId], [ServiceId]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [dbo].[RequestStatuses] ON 

INSERT [dbo].[RequestStatuses] ([StatusId], [Name]) VALUES (1, N'Новая')
INSERT [dbo].[RequestStatuses] ([StatusId], [Name]) VALUES (2, N'Назначена')
INSERT [dbo].[RequestStatuses] ([StatusId], [Name]) VALUES (3, N'В работе')
SET IDENTITY_INSERT [dbo].[RequestStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestTypes] ON 

INSERT [dbo].[RequestTypes] ([RequestTypeId], [Name]) VALUES (1, N'Установка')
INSERT [dbo].[RequestTypes] ([RequestTypeId], [Name]) VALUES (2, N'Ремонт')
INSERT [dbo].[RequestTypes] ([RequestTypeId], [Name]) VALUES (3, N'Консультация')
SET IDENTITY_INSERT [dbo].[RequestTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (2, N'Диспетчер')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (3, N'Мастер')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [Name], [Price]) VALUES (1, N'Настройка интернета', CAST(500.00 AS Numeric(18, 2)))
INSERT [dbo].[Services] ([ServiceId], [Name], [Price]) VALUES (2, N'Настройка кабельного ТВ', CAST(300.00 AS Numeric(18, 2)))
INSERT [dbo].[Services] ([ServiceId], [Name], [Price]) VALUES (3, N'Настройка телефонной линии', CAST(200.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Login], [Password_Hash], [RoleId]) VALUES (1, N'admin', N'21232F297A57A5A743894A0E4A801FC3', 1)
INSERT [dbo].[Users] ([UserId], [Login], [Password_Hash], [RoleId]) VALUES (2, N'dispatch', N'9DDDF2A4F7D94594EC2EA98407A410E1', 2)
INSERT [dbo].[Users] ([UserId], [Login], [Password_Hash], [RoleId]) VALUES (3, N'master', N'EB0A191797624DD3A48FA681D3061212', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Employees]    Script Date: 01.03.2026 13:35:29 ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [IX_Employees] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Clients]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Employees]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_RequestPriorities] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[RequestPriorities] ([PriorityId])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_RequestPriorities]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_RequestStatuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[RequestStatuses] ([StatusId])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_RequestStatuses]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_RequestTypes] FOREIGN KEY([RequestTypeId])
REFERENCES [dbo].[RequestTypes] ([RequestTypeId])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_RequestTypes]
GO
ALTER TABLE [dbo].[RequestServices]  WITH CHECK ADD  CONSTRAINT [FK_RequestServices_Requests] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([RequestId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestServices] CHECK CONSTRAINT [FK_RequestServices_Requests]
GO
ALTER TABLE [dbo].[RequestServices]  WITH CHECK ADD  CONSTRAINT [FK_RequestServices_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestServices] CHECK CONSTRAINT [FK_RequestServices_Services]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
